.register-page {
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.register-form{
    width: 30%;
    height: 80%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    
}
.register-form input {
    margin-top: 15px;
     width: 80%;
     padding: 5px;
}
.register-form button{
    margin-top: 10px;
    padding: 5px;
    cursor: pointer;
}

@media screen and (max-width:480px) {
    .register-page {
        width: 100%;
        height: 50vh;
    }
    .register-form{
        width: 80%;
        height: 80%;  
    }
}
@media screen  and (min-width:481px) and (max-width:769px) {

    .register-page {
        width: 100%;
        height: 50vh;
    }
    .register-form{
        width: 50%;
        height: 80%;  
    }
}
